<!-- 헤더 시작 -->
<header id="sh_hd">
    <div id="sh_hd_wrapper">
        <div id="top_nav_wrap">
            <!-- 로고 -->
            <div id="top_logo">
                <a href="../index.html"><img src="../img/misopin-temporary-logo.png" alt="미소핀의원" style="height: 50px;" /></a>
            </div>
            <div class="right">
                <nav id="r_menu">
                    <!-- 상단메뉴 -->
                    <ul id="top_nav">   
                        <li class="list01">
                            <a class="list" href="about.html">미소핀 소개</a>
                            <ul class="sub_ul1">
                                <li><a href="about.html">병원 소개</a></li>
                                <li><a href="../board-page.html">공지 및 이벤트</a></li>
                            </ul>
                        </li>
                        <li class="list02">
                            <a class="list" href="botox.html">주름/보톡스</a>
                            <ul class="sub_ul2">
                                <li><a href="botox.html">보톡스</a></li>
                                <li><a href="jeomin.html">제오민</a></li>
                            </ul>
                        </li>
                        <li class="list03">
                            <a class="list" href="filler.html">볼륨/리프팅</a>
                            <ul class="sub_ul3">
                                <li><a href="filler.html">필러</a></li>
                                <li><a href="skinbooster.html">스킨부스터</a></li>
                                <li><a href="lifting.html">리프팅</a></li>
                            </ul>
                        </li>
                        <li class="list04">
                            <a class="list" href="acne.html">피부케어</a>
                            <ul class="sub_ul4">
                                <li><a href="acne.html">여드름치료</a></li>
                                <li><a href="peeling.html">필링</a></li>
                            </ul>
                        </li>
                        <li class="list05">
                            <a class="list" href="mole.html">제거시술</a>
                            <ul class="sub_ul5">
                                <li><a href="mole.html">점</a></li>
                                <li><a href="milia.html">비립종</a></li>
                                <li><a href="tattoo.html">문신제거</a></li>
                            </ul>
                        </li>
                        <li class="list06">
                            <a class="list" href="hair-removal.html">바디케어</a>
                            <ul class="sub_ul6">
                                <li><a href="hair-removal.html">제모</a></li>
                                <li><a href="diet.html">다이어트</a></li>
                            </ul>
                        </li>
                        <li class="list07">
                            <a class="list" href="../calendar-page.html">상담 예약</a>
                            <ul class="sub_ul7">
                                <li><a href="../calendar-page.html">온라인 상담</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <a class="event" href="../board-page.html">09월 이벤트</a>
        </div>
    </div>
</header>
<!-- 헤더 끝 -->