                <!-- 대메뉴 리스트 -->
                <nav class="lnb">
                    <!-- 미소핀 소개 -->
                    <button class="bmenu">미소핀 소개</button>
                    <ul class="smenu">
                        <li><a href="about.html">병원 소개</a></li>
                        <li><a href="board-page.html">공지 및 이벤트</a></li>
                    </ul>

                    <!-- 주름/보톡스 -->
                    <button class="bmenu">주름/보톡스</button>
                    <ul class="smenu">
                        <li><a href="dist/botox.html">보톡스</a></li>
                        <li><a href="dist/jeomin.html">제오민</a></li>
                    </ul>

                    <!-- 볼륨/리프팅 -->
                    <button class="bmenu">볼륨/리프팅</button>
                    <ul class="smenu">
                        <li><a href="dist/filler.html">필러</a></li>
                        <li><a href="dist/skinbooster.html">스킨부스터</a></li>
                        <li><a href="dist/lifting.html">리프팅</a></li>
                    </ul>

                    <!-- 피부케어 -->
                    <button class="bmenu">피부케어</button>
                    <ul class="smenu">
                        <li><a href="dist/acne.html">여드름치료</a></li>
                        <li><a href="dist/peeling.html">필링</a></li>
                    </ul>

                    <!-- 제거시술 -->
                    <button class="bmenu">제거시술</button>
                    <ul class="smenu">
                        <li><a href="dist/mole.html">점</a></li>
                        <li><a href="dist/milia.html">비립종</a></li>
                        <li><a href="dist/tattoo.html">문신제거</a></li>
                    </ul>

                    <!-- 바디케어 -->
                    <button class="bmenu">바디케어</button>
                    <ul class="smenu">
                        <li><a href="dist/hair-removal.html">제모</a></li>
                        <li><a href="dist/diet.html">다이어트</a></li>
                    </ul>

                    <!-- 상담 예약 -->
                    <button class="bmenu">상담 예약</button>
                    <ul class="smenu">
                        <li><a href="calendar-page.html">온라인 상담</a></li>
                    </ul>
                </nav>