@charset "utf-8";

#MainVisual{position:relative;width:100vw;margin-left:calc(-50vw + 50%);margin-right:calc(-50vw + 50%)}
#MainVisual .pl{white-space:pre-line}
#MainVisual .tit{display:flex;flex-direction:column;position:absolute;z-index:2;top:50%;left:50%;transform:translate(-50%, -50%);width:80%}
#MainVisual .tit h2{font-size:25px;font-weight:400;font-family:var(--e-font);color:var(--primary)}
#MainVisual .tit h1{margin:20px 0 50px;font-size:65px;font-weight:700;color:var(--main-black)}
#MainVisual .tit h1 span{font-weight:400}
#MainVisual .controller{position:relative;padding:6px 8px;border-radius:17px;width:max-content;background-color:rgb(0, 0, 0, 0.15)}
#MainVisual .pager{position:absolute;top:44%;bottom:unset;left:50%;transform:translate(-50%, -50%);width:auto;color:#fff}
#MainVisual .nav_container{display:flex;gap:40px}
#MainVisual .nav_container div{cursor:pointer}
#MainVisual .nav_container svg{width:16px;height:16px;color:#fff;transition:all .3s}
#MainVisual .nav_container svg:hover{color:var(--primary)}
#MainVisual .main_slide{position:relative;width:100%;height:900px}
#MainVisual .main_slide li{width:100%;height:100%;background-repeat:no-repeat;background-size:cover;background-position:center}
#MainVisual .main_slide li.bg01{background-image:url(./main_banner01.jpg)}
#MainVisual .main_slide li.bg02{background-image:url(./main_banner02.jpg)}
#MainVisual .main_slide li.bg03{background-image:url(./main_banner03.jpg)}

@media (max-width:1980px){
#MainVisual .main_slide{height:720px}
#MainVisual .tit h2{font-size:22px}
#MainVisual .tit h1{font-size:60px}
}