@charset "utf-8";
ul {margin:0; padding:0}
li{list-style:none}
img {border:0}
a {text-decoration:none}

/* About 페이지 intro-text 스타일 */
.intro-text {
    font-size: var(--font-lg);  /* 18px */
    line-height: 1.7;
}

.intro-text h2 {
    font-size: var(--font-4xl);  /* 34px */
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.intro-text p {
    font-size: var(--font-lg);  /* 18px */
    line-height: 1.7;
    margin-bottom: 1rem;
}

@font-face { font-family: ngb; src:url(http://www.hdweb.co.kr/NanumGothicBold.eot); } 
#comingsoon {width:100%;padding-top:100px;text-align:center}

/*인사말*/
.p6{width:100%;padding:50px 0}
.p6 .gray_area{background:#f7f7f7}
.p6 .top_img_area{position:relative;width:100%;height:563px}
.p6 .top_img_area .p6_top_img{position:absolute;right:0;bottom:0;width:734px;height:613px}
.p6 .top_img_area .p6_top_img img{width:100%;height:100%;object-fit:cover}
.p6 .top_img_area .txt_box{position:absolute;bottom:50px;left:50px;width:350px;height:326px;padding-left:40px;background:rgba(56,176,201,1);background:linear-gradient(to right, rgba(56,176,201,1) 0%, rgba(215,239,244,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e29587', endColorstr='#38b0c9', GradientType=1 )}

.p6 .top_img_area .txt_box .page_tit{margin:144px 0 15px;font-weight:500;font-size:34px;color:#fff;font-family:'Noto Serif KR', serif}
.p6 .top_img_area .txt_box .page_s_tit{font-size:14px;color:rgba(255,255,255,.6);font-family:'notokr-regular'}
.p6 .p6_cont{padding:80px 80px 30px}
.p6 .p6_cont .p6_cont_tit{margin-bottom:10px;font-size:17px;color:#333;font-family:'notokr-medium'}
.p6 .p6_cont .p6_cont_tit span{color:#38b0c9}
.p6 .p6_cont .cont_txt{font-size:15px;line-height:26px;color:#666;font-family:'notokr-regular'}

.p6 .list_tit_box{position:relative;top:50px;width:calc(100% - 50px);height:279px;padding-left:80px;background:url(../sh_page/img/p6_tit_box_bg.jpg) #38b0c9 right no-repeat}
.p6 .list_tit_box .list_s_tit{padding-top:150px;font-size:14px;color:rgba(255,255,255,.6);font-family: 'Playfair Display', serif}
.p6 .list_tit_box .list_tit{margin-top:10px;font-weight:500;font-size:27px;color:#fff;font-family: 'Noto Serif KR', serif}

.p6 .cont_list{margin-top:50px;padding:70px 50px}
.p6 .cont_list li{position:relative;padding:0px 0 30px 45px;margin-bottom:30px;border-bottom:1px dotted #ddd;font-size:15px;line-height:26px;color:#666;font-family:'notokr-regular'}
.p6 .cont_list li p{color:#333;font-family:'notokr-medium'}
.p6 .cont_list li:before{position:absolute;content:'';left:29px;top:11px;width:4px;height:4px;border-radius:3px;background:#38b0c9}

/*의료진 소개*/
.p35{display:flex;flex-direction: column}
.p35 .p35_top_box{position:relative;width:100%;height:383px;margin-bottom:150px}
.p35 .p35_top_box .top_img{width:calc(100% - 50px);height:290px;margin-left: 230px}
.p35 .p35_top_box .top_txt{position:absolute;bottom:0;left:0;width:50%;height:180px;padding-left:50px;background:rgba(56,176,201,1);background:linear-gradient(to right, rgba(56,176,201,1) 0%, rgba(215,239,244,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e29587', endColorstr='#38b0c9', GradientType=1 )}
.p35 .p35_top_box .top_txt .s_tit{padding-top:80px;font-weight:400;font-size:14px;color:rgba(255,255,255,.6);font-family: 'Playfair Display', serif}
.p35 .p35_top_box .top_txt .tit{margin-top:5px;font-weight:500;font-size:27px;letter-spacing:-1px;color:#fff;font-family:'Noto Serif KR', serif}

.p35 .team_list{width:100%;margin-bottom:50px;clear:both}
.p35 .team_list .team_img{position:relative;float:left;width:45%;height:429px;background:#f7f7f7}
.p35 .team_list .team_img img{position:absolute;bottom:0;left:78px}
.p35 .team_list .team_img .team_name{position:absolute;z-index:1;bottom:0;right:-105px;width:211px;height:189px;padding-left:30px;background:rgba(56,176,201,1);background:linear-gradient(to right, rgba(56,176,201,1) 0%, rgba(215,239,244,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e29587', endColorstr='#38b0c9', GradientType=1 )}
.p35 .team_list .team_img .s_tit{padding-top:110px;font-size:14px;color:rgba(255,255,255,.6);font-family:'notokr-medium'}
.p35 .team_list .team_img .name{font-size:20px;color:#fff;font-family:'notokr-bold'}

.p35 .team_list .team_cont{float:left;width:55%;margin-bottom:100px;padding:25px 25px 25px 138px;border:10px solid #f7f7f7;border-left:0;background:#fff}
.p35 .team_list .team_cont ul li{position:relative;padding:0 0 5px 15px;margin-bottom:5px;border-bottom:1px dotted #ddd;font-size:15px;line-height:26px;color:#666;font-family:'notokr-regular'}
.p35 .team_list .team_cont ul li:before{position:absolute;left:0;top:10px;content:'';width: 3px;height:3px;border-radius:100px;background: #38b0c9}
.p35 .team_list .team_cont ul li:last-child{padding-bottom:0;margin-bottom:0;border-bottom:0}

/*시술소개 공통*/
.pdt_area .cont_box{position:relative;width:100%;height:377px;padding-left:50px}
.pdt_area .cont_box .tit_box_area{position:relative;width:100%;height:333px;background:#f7f7f7}
.pdt_area .cont_box .tit_box_area .tit_box{position:absolute;width:508px;right:0;top:112px}
.pdt_area .cont_box .tit_box_area .tit_box .tit{margin-bottom:10px;font-size:35px;font-weight:500;color:#333;font-family: 'Noto Serif KR', serif}
.pdt_area .cont_box .tit_box_area .tit_box .tit span{font-weight:500;font-size:14px;color:rgba(0,0,0,.7);font-style:italic;font-family: 'Playfair Display', serif}
.pdt_area .cont_box .tit_box_area .tit_box .txt{font-size:15px;color:#666;font-family:'notokr-regular'}
.pdt_area .cont_box .tit_box_area .tit_box .txt span{color:#38b0c9}

.pdt_area .cont_box .box_info{position:absolute;bottom:0;left:0;width:calc(100% - 50px);height:86px;background:rgba(56,176,201,1);background:linear-gradient(to right, rgba(56,176,201,1) 0%, rgba(215,239,244,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e29587', endColorstr='#38b0c9', GradientType=1 )}
.pdt_area .cont_box .box_info li{float:left;width:20%;text-align:center;font-size:14px;color:rgba(255,255,255,.6);font-family:'notokr-medium'}
.pdt_area .cont_box .box_info li span{display:block;padding:22px 0 3px;color:#fff}
.pdt_area .cont_box .box_info .info_tit{font-size:16px;line-height:86px;color:#fff;background:#38b0c9;font-family:'notokr-medium'}

.pdt_area .cont_info{padding:80px 0 100px;margin-bottom:100px;border-bottom:1px dotted #ddd;text-align:center}
.pdt_area .cont_info .cont_tit{margin-bottom:10px;font-size:18px;color:#333;font-family:'notokr-bold'}
.pdt_area .cont_info .cont_txt{font-size:15px;line-height:26px;color:#666;font-family:'notokr-regular'}
.pdt_area .cont_info.last{margin-bottom:0;padding-bottom:0;border-bottom:0}