@charset "utf-8";

/* Pretendard */
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 100;
	src:url('font/Pretendard-Thin.eot');
	src:url('font/Pretendard-Thin.eot@') format('embedded-opentype'),
	url('font/Pretendard-Thin.woff2') format('font-woff2'),
	url('font/Pretendard-Thin.ttf') format('truetype');
}

@font-face {
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 200;
	src:url('font/Pretendard-ExtraLight.eot');
	src:url('font/Pretendard-ExtraLight.eot@') format('embedded-opentype'),
	url('font/Pretendard-ExtraLight.woff2') format('font-woff2'),
	url('font/Pretendard-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 300;
	src:url('font/Pretendard-Light.eot');
	src:url('font/Pretendard-Light.eot@') format('embedded-opentype'),
	url('font/Pretendard-Light.woff2') format('font-woff2'),
	url('font/Pretendard-Light.ttf') format('truetype');
}

@font-face {
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 400;
	src:url('font/Pretendard-Regular.eot');
	src:url('font/Pretendard-Regular.eot@') format('embedded-opentype'),
	url('font/Pretendard-Regular.woff2') format('font-woff2'),
	url('font/Pretendard-Regular.ttf') format('truetype');
}

@font-face {
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 500;
	src:url('font/Pretendard-Medium.eot');
	src:url('font/Pretendard-Medium.eot@') format('embedded-opentype'),
	url('font/Pretendard-Medium.woff2') format('font-woff2'),
	url('font/Pretendard-Medium.ttf') format('truetype');
}

@font-face {
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 600;
	src:url('font/Pretendard-SemiBold.eot');
	src:url('font/Pretendard-SemiBold.eot@') format('embedded-opentype'),
	url('font/Pretendard-SemiBold.woff2') format('font-woff2'),
	url('font/Pretendard-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 700;
	src:url('font/Pretendard-Bold.eot');
	src:url('font/Pretendard-Bold.eot@') format('embedded-opentype'),
	url('font/Pretendard-Bold.woff2') format('font-woff2'),
	url('font/Pretendard-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 800;
	src:url('font/Pretendard-ExtraBold.eot');
	src:url('font/Pretendard-ExtraBold.eot@') format('embedded-opentype'),
	url('font/Pretendard-ExtraBold.woff2') format('font-woff2'),
	url('font/Pretendard-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 900;
	src:url('font/Pretendard-Black.eot');
	src:url('font/Pretendard-Black.eot@') format('embedded-opentype'),
	url('font/Pretendard-Black.woff2') format('font-woff2'),
	url('font/Pretendard-Black.ttf') format('truetype');
}


/* RedHatDisplay */
@font-face {
	font-family: 'RedHatDisplay';
	font-style: normal;
	font-weight: 300;
	unicode-range:U+0041-005A, U+0061-007A;
	src:url('font/RedHatDisplay-Light.eot');
	src:url('font/RedHatDisplay-Light.eot@') format('embedded-opentype'),
	url('font/RedHatDisplay-Light.woff') format('font-woff'),
	url('font/RedHatDisplay-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'RedHatDisplay';
	font-style: normal;
	font-weight: 400;
	unicode-range:U+0041-005A, U+0061-007A;
	src:url('font/RedHatDisplay-Regular.eot');
	src:url('font/RedHatDisplay-Regular.eot@') format('embedded-opentype'),
	url('https://wrapstudio.co.kr/wp-content/themes/wrapstudio_new/css/font/RedHatDisplay-Regular.woff2') format('font-woff'),
	url('font/RedHatDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'RedHatDisplay';
	font-style: normal;
	font-weight: 500;
	unicode-range:U+0041-005A, U+0061-007A;
	src:url('font/RedHatDisplay-Medium.eot');
	src:url('font/RedHatDisplay-Medium.eot@') format('embedded-opentype'),
	url('font/RedHatDisplay-Medium.woff') format('font-woff'),
	url('font/RedHatDisplay-Medium.ttf') format('truetype');
	
}

@font-face {
	font-family: 'RedHatDisplay';
	font-style: normal;
	font-weight: 600;
	unicode-range:U+0041-005A, U+0061-007A;
	src:url('font/RedHatDisplay-SemiBold.eot');
	src:url('font/RedHatDisplay-SemiBold.eot@') format('embedded-opentype'),
	url('https://wrapstudio.co.kr/wp-content/themes/wrapstudio_new/css/font/RedHatDisplay-SemiBold.woff2') format('font-woff'),
	url('font/RedHatDisplay-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'RedHatDisplay';
	font-style: normal;
	font-weight: 700;
	unicode-range:U+0041-005A, U+0061-007A;
	src:url('font/RedHatDisplay-Bold.eot');
	src:url('font/RedHatDisplay-Bold.eot@') format('embedded-opentype'),
	url('https://wrapstudio.co.kr/wp-content/themes/wrapstudio_new/css/font/RedHatDisplay-Bold.woff2') format('font-woff'),
	url('font/RedHatDisplay-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'RedHatDisplay';
	font-style: normal;
	font-weight: 800;
	src:url('font/RedHatDisplay-ExtraBold.eot');
	src:url('font/RedHatDisplay-ExtraBold.eot@') format('embedded-opentype'),
	url('font/RedHatDisplay-ExtraBold.woff') format('font-woff'),
	url('font/RedHatDisplay-ExtraBold.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A;
}

@font-face {
	font-family: 'RedHatDisplay';
	font-style: normal;
	font-weight: 900;
	src:url('font/RedHatDisplay-Black.eot');
	src:url('font/RedHatDisplay-Black.eot@') format('embedded-opentype'),
	url('font/RedHatDisplay-Black.woff') format('font-woff'),
	url('font/RedHatDisplay-Black.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A;
}

/* Redressed */
@font-face {
	font-family: 'Redressed';
	font-style: normal;
	font-weight: 400;
	unicode-range:U+0041-005A, U+0061-007A;
	src:url('font/Redressed-Regular.eot');
	src:url('font/Redressed-Regular.eot@') format('embedded-opentype'),
	url('font/Redressed-Regular.woff') format('font-woff'),
	url('font/Redressed-Regular.ttf') format('truetype');
}