@charset "utf-8";

#top_nav_wrap{display:flex;align-items:center;position:relative;width:100%;max-width:1450px;margin:0 auto;height:90px;padding:0 20px}

#top_nav_wrap #top_logo{
    flex-shrink:0
}

#top_nav_wrap .right{
    flex:1;
    display:flex;
    justify-content:center;
    position:relative
}

/* 대분류  */
#top_nav{display:flex;align-items:center}
#top_nav > li{position:relative}
#top_nav > li > a{display:block;padding:0 25px;font-size:18px;font-weight:400;font-family:var(--k-font);line-height:90px;color:var(--black);transition:all .2s}

/* 소분류 */
#top_nav > li > ul{display:none;position:absolute;top:90px;left:50%;transform:translateX(-50%);z-index:1002;min-width:150px;width:auto;padding:15px 10px 15px;background-color:var(--black);text-align:center;border-radius:5px}
#top_nav > li > ul > li{padding:5px 0;font-family:var(--k-font)}
#top_nav > li > ul > li a{font-size:15px;color:#ddd;transition:all .2s}

/* 이벤트 */
#top_nav_wrap .event{display:flex;justify-content:center;align-items:center;position:absolute;top:50%;right:20px;transform:translateY(-50%);width:150px;height:42px;border:2px solid var(--primary);border-radius:21px;font-size:16px;font-weight:700;color:var(--primary);transition:all .3s}
#top_nav_wrap .event:hover{color:#fff;background-color:var(--primary)}

/* 공지사항 */
#top_notice{overflow:hidden;position:relative;width:100%;height:45px;background-color:#d7eff4}
#top_notice li{display:flex;justify-content:center;align-items:center;font-size:13px;font-weight:500;color:var(--primary)}